.footer{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 80px 20px 20px 20px;
} 

.footer h3{
  padding-top: 30px;
  font-family: "Raleway";
  margin-bottom: 20px;
  font-size: 2rem;
}

.footer li {
  font-size: 1.2rem;
  padding-bottom: 10px;
  font-family: "Open Sans";
}

.footer a{
  color: black;
}

.footer a:hover{
  color: blue;
}

.footer-logo h3{
  font-size: 2.25rem;
  margin-bottom: 40px;
  font-family: "Raleway";
  text-transform: uppercase;
  position: relative;
}

.footer-logo h3::after{
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.footer-contato img{
  width: 40px;
}

.footer-redes{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-copy{
  margin-bottom: 10px;
  font-family: "Open Sans";
}

.google-maps{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatsap{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
}

@media(max-width:800px){
  .footer{
    display: block;
    padding-left: 20px;
  }
  .footer-copy{
    padding-left: 20px;
  }
  
}
