.projetos{
  padding: 0px 20px 20px 20px;
}

.projetos h2{
  font-family: "Raleway";
  font-size: 3rem;
}

.projetos-slider{
  padding: 80px 0px 40px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
}

.projetos-imagem{
  margin: 0 auto;

}

.projetos-cards{
  display: flex;
  align-items: center;
}

.slider, .slider2, .slider3{
  display: none;
}

.on{
  width: 100%;
  display: initial;
}

.projetos-cards-container button img{
  width: 20px;
}

.projetos-cards-container p, h1{
  padding-left: 40px ;
}

.projetos-cards-container h1{
  font-family: "Raleway";
  font-size: 2rem;
  margin: 20px 0px 20px 0px;
}

.projetos-cards-container p{
  font-family: "Open Sans";
}

.projetos-cards-container button{
  background: none;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.projetos-cards-container{
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

@media(max-width:800px){
  .projetos{
    padding-top: 20px;
  }
  .projetos-slider{
    grid-template-columns: 1fr;
  }
  .projetos-cards-container{
    border: none;
    margin-bottom: 20px;
  }
}