.vantagens-bg{
  background-color: #BDCCEB;
  color: black;

}
.vantagens{
  padding: 40px 20px;

}

.vantagens h2{
  font-family: "Raleway";
  font-size: 3rem;
  margin-bottom: 80px;
}

.vantagens-cards{
  display: flex;
  gap: 40px;
}

.vantagens-cards-contain{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 4px;
  width: 300px;
}

.vantagens-cards-contain p{
  font-size: 1rem;
  font-family: "Open Sans";
}


.vantagens-titulo{
  display: flex;
  align-items: center;
  padding-bottom: 20px;

}

.vantagens-titulo img{
  width: 30px;
  margin-left: 10px;

}

.vantagens-titulo h3{
  font-family: "Raleway";
  font-size: 1.5rem;
}

@media(max-width:790px){
  .vantagens-cards{
    display: block; 
  }
  .vantagens-cards-contain{
    margin-bottom: 20px;
  }
}