.vantagens-bg{
  background-color: #BDCCEB;
  color: black;

}
.vantagens{
  padding: 40px 20px;

}

.vantagens h2{
  font-family: "Raleway";
  font-size: 3rem;
  margin-bottom: 80px;
}

.vantagens-cards{
  display: flex;
  gap: 40px;

}

.vantagens-cards-contain{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 4px;
  width: 300px;
}

.vantagens-cards-contain p{
  font-size: 1rem;
  font-family: "Open Sans";
}


.vantagens-titulo{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  
}

.vantagens-cards-contain h3::after{
  content: '';
  position: absolute;
  display: block;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #faf037;
}

.vantagens-titulo img{
  width: 30px;
  margin-left: 10px;
  
}

.vantagens-titulo h3{
  font-family: "Raleway";
  font-size: 1.5rem;
  position: relative;
}

@media(max-width:940px){
  .vantagens-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .vantagens h2{
    text-align: center;
  }
  .vantagens-cards-contain{
    margin: 0 auto;    

  }
} 

@media(max-width:687px){
  .vantagens-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .vantagens-cards-contain{
    margin-bottom: 20px;
  }
}